<!DOCTYPE html><html>
<head>
  <meta charset="utf-8" /><title>beets</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet" />
  <link href="{{ url_for('static', filename='manifest.json') }}" rel="manifest" />
  <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css" />
<body>
  <div id="root"></div>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
