size = 47px
phi = 1.61828

.timeline
  color: hsl(0, 0%, 90%)
  font-size: 20px
  line-height: size

  div
    position: relative
  .abs
    position: absolute

  .tick
    background: hsl(0, 0%, 10%)
    bottom: 0
    opacity: 0.2
    position: fixed
    top: 0
    width: 1px
    z-index: 1

  .days
    display: grid
    grid: auto-flow / 1fr
    place-content: stretch
    place-items: start stretch

  .day
    height: size
    overflow-x: hidden

    &:nth-child(even).January,
    &:nth-child(even).March,
    &:nth-child(even).May,
    &:nth-child(even).July,
    &:nth-child(even).September,
    &:nth-child(even).November
      background-color: hsl(120, 90%, 98%)
    &:nth-child(even).February,
    &:nth-child(even).April,
    &:nth-child(even).June,
    &:nth-child(even).August,
    &:nth-child(even).October,
    &:nth-child(even).December
      background-color: hsl(240, 90%, 98%)

  .Saturday, .Sunday
    background: repeating-linear-gradient(45deg,
                                          transparent 0px,
                                          hsla(0, 0%, 50%, 0.5) 2px,
                                          transparent 4px,
                                          transparent 7px)

  .label
    color: hsl(240, 90%, 5%)
    font-weight: 100
    margin-left: 11px
    opacity: 0.5

  .dark
    height: size
    opacity: 0.4
    background: linear-gradient(90deg,
                                hsla(240, 50%, 20%, 0),
                                hsla(240, 50%, 20%, 0.018) 2%,
                                hsla(240, 50%, 20%, 0.047) 4%,
                                hsla(240, 50%, 20%, 0.119) 6%,
                                hsla(240, 50%, 20%, 0.269) 8%,
                                hsla(240, 50%, 20%, 0.500) 10%,
                                hsla(240, 50%, 20%, 0.731) 12%,
                                hsla(240, 50%, 20%, 0.881) 14%,
                                hsla(240, 50%, 20%, 0.953) 16%,
                                hsla(240, 50%, 20%, 0.982) 18%,
                                hsla(240, 50%, 20%, 1) 20%,
                                hsla(240, 50%, 20%, 1) 80%,
                                hsla(240, 50%, 20%, 0.982) 82%,
                                hsla(240, 50%, 20%, 0.953) 84%,
                                hsla(240, 50%, 20%, 0.881) 86%,
                                hsla(240, 50%, 20%, 0.731) 88%,
                                hsla(240, 50%, 20%, 0.500) 90%,
                                hsla(240, 50%, 20%, 0.269) 92%,
                                hsla(240, 50%, 20%, 0.119) 94%,
                                hsla(240, 50%, 20%, 0.047) 96%,
                                hsla(240, 50%, 20%, 0.018) 98%,
                                hsla(240, 50%, 20%, 0))

  .event
    border: solid 3px hsla(0, 0%, 0%, 0.1)
    border-radius: (size / 2 - size / 2 / phi)
    color: hsl(0, 0%, 20%)
    cursor: pointer
    height: size - 4px
    line-height: size - 9px
    margin: 2px 0 2px (phi * (size - 4px) / -2)
    overflow: hidden
    text-align: center
    width: phi * (size - 4px)
    z-index: 10

  .duration
    height = size / phi
    background: hsla(0, 0%, 0%, 0.3)
    height: height
    margin: ((size - height) / 2) 0
