* {
    box-sizing: border-box;
    font-family: Lato, "Open Sans", Helvetica, Arial, sans-serif;
    transition: all 0.5s;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: #fafafa;
    color: #212121;
}

input[type=text] {
    font-size: larger;
    margin-left: 10px;
}

li > * {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#albums {
    display: flex;
    flex-flow: row wrap;
}

.album {
    padding: 8px;
    margin: 0 16px 16px 0;
    width: 416px;
    height: 266px;
    position: relative;
    background: #f5f5f5;
    border-radius: 8px;
}

.title {
    font-weight: bold;
}

.artist {
    color: #424242;
    font-size: smaller;
}

.art {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    background-color: #424242;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.album > .title {
    padding-top: 8px;
    font-size: larger;
}

.album > .artist {
    font-size: 100%;
}

.album .tracks {
    opacity: 0.7;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 200px;
    height: 200px;
    font-size: smaller;
}

.album:hover {
    background: #eeeeee;
}

.album:hover .tracks {
    opacity: 1;
}

.song, .track {
    padding: 4px 0 4px 8px;
}

.track, .song, .album > .art, .album > .title {
    cursor: pointer;
}

.song:nth-child(even), .track:nth-child(even) {
    background: linear-gradient(
        90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

#playlist {
    position: fixed;
    color: #f5f5f5;
    background: #424242;
    top: 0;
    left: 0;
    z-index: 1000;
}

#playlist .item {
    position: relative;
    padding: 4px 0 0 58px;
    height: 58px;
}

#playlist .item.active {
    height: 78px;
}

#playlist > :nth-child(even) {
    background: #616161;
}

#playlist .art {
    width: 50px;
    height: 50px;
    background-color: #212121;
    position: absolute;
    top: 4px;
    left: 4px;
}

#playlist .artist {
    color: #eeeeee;
}

.time {
    height: 16px;
    width: calc(100% - 8px);
    z-index: 10;
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    text-align: right;
}

.time div {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    font-size: smaller;
    color: #b3e5fc;
    background: #01579b;
    width: 100%;
    padding: 0 2px 2px 2px;
    z-index: 1;
}

.time .buffered {
    background: #0277bd;
    z-index: 2;
}

.time .currentTime {
    background: #0288d1;
    z-index: 3;
}

@media all and (max-width: 500px) {

    #playlist {
        right: 0;
        height: calc(78px + 2 * 58px);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #library {
        margin-top: calc(78px + 2 * 58px);
    }

    .album {
        width: 120px;
        height: 170px;
    }

    .album .tracks {
        display: none;
    }

    .art {
        width: 100px;
        height: 100px;
    }

}

@media all and (min-width: 500px) {

    #playlist {
        bottom: 0;
        width: 300px;
        overflow: scroll;
    }

    #library {
        margin-left: 300px;
    }

}
